[submodule "client/AyonBinBridge-Client"]
	path = client/AyonBinBridge-Client
	url = https://github.com/ynput/AyonBinBridge-Client.git
[submodule "client/ayon_usd/ayon_bin_client"]
	path = client/ayon_usd/ayon_bin_client
	url = https://github.com/ynput/AyonBinBridge-Client.git
